---
import { Image } from "astro:assets";

type Props = {
  title: string;
  description: string;
  contacts: {
    title: string;
    fields: {
      icon: string;
      value: string;
    };
  }[];
};
const { description, title, contacts = [] } = Astro.props;

const phone = contacts.find(({ title }) => title === "Telefone")?.fields;
const email = contacts.find(({ title }) => title === "Email")?.fields;
---

<section
  class="bg-primary/5 container my-20 space-y-4 py-12 text-center sm:rounded-xl"
>
  <h3 class="text-secondary mx-auto max-w-3xl text-3xl leading-9 font-bold">
    {title}
  </h3>
  <p class="mx-auto max-w-3xl">
    {description}
  </p>
  <div class="w-fit space-y-4 sm:mx-auto">
    {
      phone && (
        <a
          class="flex items-center gap-2 hover:underline"
          href={`tel:${phone.value}`}
        >
          <Image src={phone.icon} alt="phone" width={20} height={20} />{" "}
          {phone.value}
        </a>
      )
    }
    {
      email && (
        <a
          class="flex items-center gap-2 hover:underline"
          href={`mailto:${email.value}`}
        >
          <Image src={email.icon} alt="phone" width={20} height={20} />{" "}
          {email.value}
        </a>
      )
    }
  </div>
</section>
