---
import { getPageDataWithLayoutData } from "@/api";
import type { GetAboutPageDataResponse } from "@/api/type";
import PageHero from "@/components/common/page-hero.astro";
import KPISection from "@/components/sections/about/kpi-section.astro";
import MissionAndVisionSection from "@/components/sections/about/mission-and-vision-section.astro";
import WhyUsSection from "@/components/sections/about/why-us-section.astro";
import MainLayout from "@/layouts/main-layout.astro";

const [aboutPageData, headerData, footerData] =
  await getPageDataWithLayoutData<GetAboutPageDataResponse>("about");
const { areaClient, catalogFile } = headerData;
const { services, description, contact } = footerData;
const { header, principles, whySection } = aboutPageData;
---

<MainLayout
  extendedTitle="Sobre a FARWELL"
  footer={{
    services: services.map(({ title }) => title),
    description,
    contacts:
      contact.map(({ fields: { value, icon } }) => ({ value, icon })) ?? [],
  }}
  headerLinks={{ catalog: catalogFile, clientArea: areaClient }}
>
  <main>
    <PageHero title={header.title} subtitle={header.description} />
    <MissionAndVisionSection
      mission={principles.mission}
      vision={principles.vision}
      values={principles.values}
    />
    {
      whySection && (
        <WhyUsSection
          title={whySection.title}
          keyPoints={whySection.keyValues.map(
            ({ description, icon, title }) => ({
              description,
              title,
              iconUrl: icon,
            })
          )}
          description={whySection.description}
        />
      )
    }
    <!-- TODO: Missing API data -->
    <KPISection />
  </main>
</MainLayout>
