---
import { getPageDataWithLayoutData } from "@/api";
import type { GetDiagnosticsPageDataResponse } from "@/api/type";
import PageHero from "@/components/common/page-hero.astro";
import ProsedContent from "@/components/common/prosed-content.astro";
import MainSection from "@/components/sections/diagnostics/main-section.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";

const [diagnosticsData, headerData, footerData] =
  await getPageDataWithLayoutData<GetDiagnosticsPageDataResponse>(
    "diagnostics"
  );
const { areaClient, catalogFile } = headerData;
const { services, description, contact } = footerData;
const { clientSection, header, brandsAndProducts, diagnostics } =
  diagnosticsData;
---

<MainLayout
  extendedTitle={header.title}
  footer={{
    services: services.map(({ title }) => title),
    description,
    contacts:
      contact.map(({ fields: { value, icon } }) => ({ icon, value })) ?? [],
  }}
  headerLinks={{ catalog: catalogFile, clientArea: areaClient }}
>
  <main>
    <PageHero title={header.title} subtitle={header.description} />
    <MainSection
      brandsAndProducts={brandsAndProducts}
      diagnostics={diagnostics}
    />
    <section class="bg-grey-950/30">
      <div class="container mx-auto max-w-4xl space-y-6 py-20 text-center">
        <h2 class="text-secondary text-4xl leading-10">
          {clientSection.title}
        </h2>
        <hr class="text-primary mx-auto h-1 w-24" />
        <p class="text-primary text-2xl leading-8">
          {clientSection.subtitle}
        </p>
        <ProsedContent content={clientSection.descripiton} />

        {
          clientSection.clinicLogos && clientSection.clinicLogos.length > 0 && (
            <ul class="flex flex-wrap items-center justify-center gap-12">
              {clientSection.clinicLogos.map(({ label, logo }) => (
                <li class="flex items-center justify-center gap-4">
                  <Image
                    loading="lazy"
                    class="object-cover"
                    src={logo}
                    alt={label}
                    width={100}
                    height={100}
                    title={label}
                    aria-label={label}
                  />
                </li>
              ))}
            </ul>
          )
        }
      </div>
    </section>
  </main>
</MainLayout>
