---
import { getPageDataWithLayoutData } from "@/api";
import type { GetDistributionPageDataResponse } from "@/api/type";
import PageHero from "@/components/common/page-hero.astro";
import CoverageSection from "@/components/sections/distribution/coverage-section.astro";
import DistributionServicesSection from "@/components/sections/distribution/distribution-services-section.astro";
import QualityStandards from "@/components/sections/distribution/quality-standards.astro";
import WhyOurServicesSection from "@/components/sections/distribution/why-our-services-section.astro";
import MainLayout from "@/layouts/main-layout.astro";

const [distributionData, headerData, footerData] =
  await getPageDataWithLayoutData<GetDistributionPageDataResponse>(
    "distribution"
  );
const { areaClient, catalogFile } = headerData;
const { services, description, contact } = footerData;
const {
  areaCoverage,
  header,
  ourDistributionServices,
  qualityAndComplianceStandards,
  whyChooseOurServices,
} = distributionData;
---

<MainLayout
  extendedTitle="Distribuição Farmacêutica"
  footer={{
    services: services.map(({ title }) => title),
    description,
    contacts:
      contact.map(({ fields: { value, icon } }) => ({ value, icon })) ?? [],
  }}
  headerLinks={{ catalog: catalogFile, clientArea: areaClient }}
>
  <main>
    <PageHero title={header.title} subtitle={header.description} />
    {
      ourDistributionServices && (
        <DistributionServicesSection
          title={ourDistributionServices.title}
          description={ourDistributionServices.description}
          services={ourDistributionServices.distributionServices.map(
            ({ fields: { bulletPoints, description, icon }, title }) => ({
              title,
              iconUrl: icon,
              description,
              bulletPoints:
                typeof bulletPoints === "object"
                  ? bulletPoints?.map(({ description }) => description)
                  : [],
            })
          )}
        />
      )
    }
    {
      areaCoverage && (
        <CoverageSection
          title={areaCoverage.title}
          description={areaCoverage.description}
          areas={areaCoverage.coverageArea.map(({ areaName }) => areaName)}
          stats={areaCoverage.distributionStats}
        />
      )
    }
    {
      qualityAndComplianceStandards && (
        <QualityStandards
          title={qualityAndComplianceStandards.title}
          description={qualityAndComplianceStandards.description}
          keyPoints={qualityAndComplianceStandards.keyValues.map(
            ({ description, title, icon }) => ({
              description,
              title,
              iconUrl: icon,
            })
          )}
        />
      )
    }
    {
      whyChooseOurServices && (
        <WhyOurServicesSection
          title={whyChooseOurServices.title}
          description={whyChooseOurServices.description}
          keyPoints={whyChooseOurServices.keyPoints.map(
            ({ title, description, icon }) => ({
              title,
              description,
              iconUrl: icon,
            })
          )}
        />
      )
    }
  </main>
</MainLayout>
