---
import { getPageData } from "@/api";
import type { GetServicesPageDataResponse } from "@/api/type";
import PageHero from "@/components/common/page-hero.astro";
import GetStartedSection from "@/components/sections/services/get-started-section.astro";
import ServicesSection from "@/components/sections/services/services-section.astro";
import WhyOurServicesSection from "@/components/sections/services/why-our-services-section.astro";
import MainLayout from "@/layouts/main-layout.astro";

const servicesData = await getPageData<GetServicesPageDataResponse>("services");
const { contact, header, ourServices, whyChooseOurServices } = servicesData;
const servicesNames = ourServices.map(({ title }) => title);
---

<MainLayout
  extendedTitle="Os Nossos Serviços"
  footer={{ services: servicesNames }}
>
  <main>
    <PageHero title={header.title} subtitle={header.description} />
    {
      ourServices && (
        <ServicesSection
          services={ourServices.map(
            ({
              fields: { bulletPoints, description, icon, keyMetrics },
              title,
            }) => ({
              bulletPoints: bulletPoints.map(({ description }) => description),
              description,
              keyMetrics: keyMetrics.map(({ description, title }) => ({
                description,
                title,
              })),
              title,
              iconUrl: icon,
            })
          )}
        />
      )
    }
    {
      whyChooseOurServices && (
        <WhyOurServicesSection
          title={whyChooseOurServices.title}
          description={whyChooseOurServices.description}
          keyPoints={whyChooseOurServices.keyPoints}
        />
      )
    }
    {
      contact && (
        <GetStartedSection
          title={contact.title}
          description={contact.description}
        />
      )
    }
  </main>
</MainLayout>
