---
import { getPageDataWithLayoutData } from "@/api";
import type { GetTeamPageDataResponse } from "@/api/type";
import PageHero from "@/components/common/page-hero.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";

const [teamData, headerData, footerData] =
  await getPageDataWithLayoutData<GetTeamPageDataResponse>("team");
const { areaClient, catalogFile } = headerData;
const { services, description, contact } = footerData;
const { header, ourTeam } = teamData;
---

<MainLayout
  extendedTitle={header.title}
  footer={{
    services: services.map(({ title }) => title),
    description,
    contacts:
      contact.map(({ fields: { value, icon } }) => ({ value, icon })) ?? [],
  }}
  headerLinks={{ catalog: catalogFile, clientArea: areaClient }}
>
  <main>
    <PageHero title={header.title} subtitle={header.description} />
    <section class="container py-10 md:grid-cols-2 lg:py-16">
      {
        ourTeam && (
          <ul class="grid grid-cols-1 gap-6 lg:grid-cols-3">
            {ourTeam.map(({ image, name }) => (
              <Image
                src={image}
                alt={name}
                width={440}
                height={320}
                class="max-h-[320px] w-full rounded-xl object-cover object-center shadow"
              />
            ))}
          </ul>
        )
      }
    </section>
  </main>
</MainLayout>
