---
import CardListItem from "@/components/common/card-list-item.astro";
import SectionHeader from "@/components/common/section-header.astro";

type Props = {
  title: string;
  description: string;
  keyPoints: {
    iconUrl?: string;
    title: string;
    description: string;
  }[];
};

const { title, description, keyPoints } = Astro.props;
---

<section class="bg-grey-950/30">
  <div class="container space-y-16 py-20">
    <SectionHeader title={title} description={description} />
    <ul class="grid gap-6 md:grid-cols-2 lg:grid-cols-4">
      {
        keyPoints.map(({ description, title, iconUrl }) => (
          <CardListItem
            description={description}
            iconUrl={iconUrl}
            title={title}
          />
        ))
      }
    </ul>
  </div>
</section>
