---
import CardItemWithBulletPoints from "@/components/common/card-item-with-bullet-points.astro";
import SectionHeader from "@/components/common/section-header.astro";

type Props = {
  title: string;
  description: string;
  services: {
    title: string;
    iconUrl?: string;
    description: string;
    bulletPoints?: string[];
  }[];
};

const { title, description, services } = Astro.props;
---

<section class="container space-y-16 py-20">
  <SectionHeader title={title} description={description} />
  {
    services && (
      <ul class="grid gap-8 md:grid-cols-2">
        {services.map(({ description, title, bulletPoints, iconUrl }) => (
          <CardItemWithBulletPoints
            title={title}
            description={description}
            bulletPoints={bulletPoints ?? []}
            iconUrl={iconUrl}
          />
        ))}
      </ul>
    )
  }
</section>
