---
import QualityStandardItem from "@/components/common/quality-standard-item.astro";
import SectionHeader from "@/components/common/section-header.astro";

type Props = {
  title: string;
  description: string;
  keyPoints: {
    iconUrl?: string;
    title: string;
    description: string;
  }[];
};

const { title, description, keyPoints } = Astro.props;
---

<section class="container space-y-6 py-20">
  <SectionHeader title={title} description={description} />
  {
    keyPoints && (
      <ul class="mx-auto grid max-w-4xl gap-8 lg:grid-cols-3">
        {keyPoints.map(({ description, title, iconUrl }) => (
          <QualityStandardItem
            title={title}
            description={description}
            iconUrl={iconUrl}
          />
        ))}
      </ul>
    )
  }
</section>
