---
import { footerLogoImage } from "@/assets";
import { Image } from "astro:assets";
import { Heart } from "lucide-react";

type Props = {
  description?: string;
  services: string[];
  contacts:{
      icon: string;
      value: string;
    }[];
};

const year = new Date().getFullYear();
const { description, services, contacts } = Astro.props;
---

<footer class="bg-secondary text-secondary-foreground py-12">
  <div class="container mb-8 grid grid-cols-1 gap-8 md:grid-cols-3">
    <div class="space-y-4">
      <Image
        src={footerLogoImage}
        alt="Farwell"
        loading="lazy"
        width={256}
        height={70}
      />
      <p class="text-sm">
        {description}
      </p>
    </div>
    <div>
    {services && services.length > 0 && (
          <p class="text-background mb-4 font-bold">Serviços</p>
          <ul class="space-y-2 text-sm">
            {services.map((service) => (
              <li>{service}</li>
            ))}
          </ul>
      )}
    </div>
    <div>
      {contacts && contacts.length > 0  && (
        <p class="text-background mb-4 font-bold">Contactos</p>
        <ul class="space-y-2 text-sm">
          {contacts.map(({value}) => <li>{value}</li>)}
        </ul>
      )}
    </div>
  </div>
  <div
    class="border-background/20 text-background/60 container flex items-center justify-center gap-1 border-t pt-8 text-center text-sm"
  >
    <p class="max-md:flex-1">© {year} FARWELL. Feito com</p>
    <Heart size={16} className="text-primary" />
    <p class="max-md:flex-1">para a saúde em Angola.</p>
  </div>
</footer>
