---
import type { AboutUsData } from "@/api/type";
import CardListItem from "@/components/common/card-list-item.astro";
import SectionHeader from "@/components/common/section-header.astro";

type Props = Partial<AboutUsData>;

const { description, ourServices, title } = Astro.props;
---

<section class="bg-grey-950/30">
  <div class="container space-y-16 py-20">
    <SectionHeader title={title} description={description} />
    {
      ourServices && (
        <ul class="grid gap-6 md:grid-cols-2 lg:grid-cols-4">
          {ourServices.map(
            ({ fields: { description, icon: iconUrl }, title }) => (
              <CardListItem
                description={description}
                title={title}
                iconUrl={iconUrl}
              />
            )
          )}
        </ul>
      )
    }
  </div>
</section>
