---
import type { HeroData } from "@/api/type";
import ButtonLink from "@/components/common/button-link.astro";
import { Image } from "astro:assets";

type Props = Partial<HeroData> & {
  catalogUrl?: string;
};

const {
  description,
  highlight,
  image: imageUrl,
  keyValue,
  title,
  catalogUrl: catalogUrl,
} = Astro.props;
---

<section class="primary-gradient text-background">
  <div class="container grid items-center gap-12 py-20 lg:grid-cols-2">
    <div class="space-y-6">
      <h1 class="text-grey-950 text-3xl font-bold">
        {title}<br /><span class="">{highlight}</span>
      </h1>
      <p class="text-lg">
        {description}
      </p>
      <div class="flex flex-col gap-4 md:flex-row">
        <ButtonLink
          class="bg-background text-secondary"
          href={catalogUrl}
          download
          target="_blank">Ver Catálogo</ButtonLink
        >
      </div>
      {
        keyValue && (
          <ul class="flex items-center justify-between pt-6 text-center text-xs">
            {keyValue.map(({ image, label }) => (
              <li class="flex flex-col items-center space-y-2">
                <Image
                  width={32}
                  height={32}
                  alt=""
                  loading="eager"
                  src={image}
                />
                <p>{label}</p>
              </li>
            ))}
          </ul>
        )
      }
    </div>
    {
      imageUrl && (
        <Image
          width={660}
          height={322}
          alt=""
          src={imageUrl}
          class="shadow-primary/30 rounded-xl object-cover shadow-lg"
          loading="eager"
          fetchpriority="high"
        />
      )
    }
  </div>
</section>
