---
import type { HeroData } from "@/api/type";
import ButtonLink from "@/components/common/button-link.astro";
import { Image } from "astro:assets";

type Props = Partial<HeroData> & {
  catalogUrl?: string;
};

const {
  description,
  highlight,
  image: imageUrl,
  title,
  catalogUrl: catalogUrl,
  imageList,
} = Astro.props;
---

<section class="primary-gradient text-background">
  <div class="container grid items-center gap-12 py-20 lg:grid-cols-2">
    <div class="space-y-6">
      <h1 class="text-grey-950 text-3xl font-bold">
        {title}<br /><span class="">{highlight}</span>
      </h1>
      <p class="text-lg">
        {description}
      </p>
      <div class="flex flex-col gap-4 md:flex-row">
        <ButtonLink
          class="bg-background text-secondary hover:text-background"
          href={catalogUrl}
          download
          target="_blank">Ver Catálogo</ButtonLink
        >
      </div>
      {
        imageList && imageList.length > 0 && (
          <ul class="mt-8 flex flex-wrap justify-between gap-4">
            {imageList.map(({ image, label }) => (
              <li class="flex flex-col items-center justify-center gap-1">
                <Image
                  width={72}
                  height={72}
                  alt={label}
                  src={image}
                  class="shadow-primary/60 bg-background rounded-full object-cover shadow-lg"
                  loading="lazy"
                />
                <p class="text-sm">{label}</p>
              </li>
            ))}
          </ul>
        )
      }
    </div>
    {
      imageUrl && (
        <Image
          width={660}
          height={322}
          alt=""
          src={imageUrl}
          class="shadow-primary/60 rounded-xl object-cover shadow-lg"
          loading="eager"
          fetchpriority="high"
        />
      )
    }
  </div>
</section>
