---
import type { OurServicesData } from "@/api/type";
import SectionHeader from "@/components/common/section-header.astro";
import ServiceListItem from "./service-list-item.astro";

type Props = Partial<OurServicesData>;
const { description, services, title } = Astro.props;
---

<section class="container space-y-16 py-20">
  <SectionHeader title={title} description={description} />
  {
    services && (
      <ul class="grid gap-8 md:grid-cols-2">
        {services.map(({ fields: { description, icon: iconUrl }, title }) => (
          <ServiceListItem
            description={description}
            title={title}
            iconUrl={iconUrl}
          />
        ))}
      </ul>
    )
  }
</section>
